# Raw design files
*.afdesign

# dependencies
/node_modules

# cache
.eslintcache
.vite

# production
/dist
/src/locales/*/messages.js

# local test files
/.dump

# editors
.idea/*
!.idea/tailwindcss.xml
